.accordion {
	&-header {
		cursor: pointer;
		span {
			&:after {
				height: 0.2rem;
				transition: height 0.3s ease-out;
			}
		}
		&.active {
			background: var(--light-orange);
			color: var(--black);
			span {
				transform: scale(1, -1);
				svg {
					stroke: var(--black);
				}
			}
		}
	}
	&-content {
		max-height: 0;
		height: 100%;
		overflow: hidden;
		transition: max-height 0.3s ease-out;
	}
	@media all and (min-width: 1024px) {
		.accordion-content {
			min-height: max-content;
			opacity: 0;
			visibility: hidden;
			transition: opacity 0.3s linear;
		}
		&:hover {
			.accordion-header {
				background: var(--light-orange);
				span {
					transform: scale(1, -1);
				}
			}
			.accordion-content {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}

.accordion-filter {
	&-header {
		cursor: pointer;

		&.active {
			svg {
				transform: scale(1, -1);
			}
		}
	}
	&-content {
		max-height: 0;
		height: 100%;
		overflow: hidden;
		transition: max-height 0.3s ease-out;
		@media all and (min-width: 1024px) {
			max-height: auto;
		}
	}
}
