@import 'typography';

:root {
	//Base

	--header-height: #{gem(75)};
	--header-height-decrement: #{gem(-80)};
	--container-gap: #{gem(16)};

	@media all and (min-width: 640px) {
		--container-gap: #{gem(50)};
		--header-height: #{gem(100)};
		--header-height-decrement: #{gem(-100)};
	}

	@media all and (min-width: 1024px) {
		--container-gap: #{gem(72)};
	}
}
